/**
*   Venux Layout
*/

/* Configuration row and column */
%flex-properties {
    display: flex;
    flex-wrap: wrap;
}

.container {
    @extend %flex-properties;
    width: 100vw;
    height: 100vh;
}

.column {
    @extend %flex-properties;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    @extend %flex-properties;
    flex-grow: 1;
}
/* END configuration row and column */

/* Configuration items */
.item {
    width: 20%;
}

.item-small {
    width: 25%;
}

.item-medium {
    width: 30%;
}

.main-content {
    width: 70%;
}

.transversal-content {
    width: 30%;
}
/*END Configuration items */

/* Configuración Padding & Margin */
.fill-normal {
    padding: 1% 2% 3% 2%;
}

.markup-normal {
    margin: 1% 4.1% 1% 4.1%;
}
/* END Configuration Padding & Margin */
